replicaCount: 2

image:
  repository: yimikao/tiny
  tag: 0.1.1
  pullPolicy: IfNotPresent

service:
  name: http
  port: 80
  targetPort: 8080

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 256Mi

env:
  SERVICE_NAME: tiny
  SERVICE_ENV: dev
  HTTP_PORT: "8080"
  LOG_LEVEL: info
  DATA_DIR: /data

