apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: prometheus-sd
  namespace: tiny
rules:
  - apiGroups: [""]
    resources: ["services", "endpoints", "pods"]
    verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: prometheus-sd
  namespace: tiny
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: prometheus-sd
subjects:
  - kind: ServiceAccount
    name: prometheus
    namespace: monitoring
