apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "tiny.name" . }}-data
  labels:
    {{- include "tiny.labels" . | nindent 4 }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard
